[Desktop Entry]
Type=Application
Version=0.0.3
Name=featrino
Comment=Chat client for Twitch
Exec=featrino
Icon=featrino
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=featrino
